.accordion {
        max-width: 500px;

        .accordion-item {
            border-left: none;
            border-right: none;
            border-radius: 0;
        }
  
        .accordion-button {
            background-color: transparent;
            box-shadow: none;
            padding: 1.5rem 1.5rem 1rem 0.5rem;
            
            &:hover {
                color: $secondary;
            }
            &:not(.collapsed) {
                color: black;
            }
        }

        .accordion-body {
            padding: 1.5rem 1.5rem 1rem 0.5rem;
        }

    }

