footer form {
    padding: 4rem 0;
    min-height: 350px;

    p {
        letter-spacing: 5px;
        font-size: 0.8rem;
    }

    >div {
        gap: 30px;
    }

    .input-container {
        width: 100%;
        border-radius: 0.375rem;

        .form-control {
            min-height: 40px;
            border: none;

            &::placeholder {
                font-size: 0.8rem;
            }
        }

        .invalid-tooltip {
            width: 100%;
            text-align: left;
            top: 36px;
            padding: 0.5rem 0.8rem 0.25rem 0.8rem;
            margin-top: 0rem;
            font-size: 0.7rem;
            color: #fff;
            background-color: $secondary;
            border-radius: 0 0 0.375rem 0.375rem;
            font-style: italic;
        }
    }
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
    border-color: $secondary;
    border: 2px solid $secondary;
    border-bottom: 4px solid $secondary;
}

#footer-links {
    padding: 3rem 0;
    background-color: $dark;

    @media screen and (min-width: 768px) {
        padding: 1rem 0;
    }

    a {
        text-decoration: none;
        color: white;
        font-weight: 300;
        font-size: 0.8rem;
        letter-spacing: 0.2rem;
        padding: 1rem;
    }
}